<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <sectionGroup name="ApiEtlQd.Logging.Settings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Serilog.AzureEventHub" type="System.Configuration.AppSettingsSection" />
        <section name="Serilog.AzureEventGrid" type="System.Configuration.AppSettingsSection" />
        <section name="Serilog.Console" type="System.Configuration.AppSettingsSection" />
        <section name="Log4Net.RollingFile" type="System.Configuration.AppSettingsSection" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ApiEtlQd.Logging.Settings>
      <Serilog.AzureEventHub>
        <add key="ConnectionString" value="Endpoint=sb://eh-dev-personal-mjeffries.servicebus.windows.net/;SharedAccessKeyName=Logging;SharedAccessKey=qAadcqcNhdG5CSOgdyaGzzGp9ifS2PSSLtE0MmQMtg0=" />
        <add key="ContainerName" value="loggingevents" />
      </Serilog.AzureEventHub>
      <Serilog.Console>
        <add key="Theme" value="Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console" />
        <add key="OutputTemplate" value="[{Timestamp:HH:mm:ss} {Level:u3}] {Message:lj} &lt;s:{SourceContext}&gt;{NewLine}{Exception}" />
      </Serilog.Console>
      <Serilog.AzureEventGrid>
        <add key="EventGridTopicKey" value="eEuRmxr4RjRQKRGLAuJb/a6wxmTufsHcz6FjRkHSwYw=" />
        <add key="EventGridTopicUri" value="https://ssbappevents.westus2-1.eventgrid.azure.net/api/events/subscriptions/d9da86e1-7cc1-406a-8492-501fffbc33fe/resourceGroups/cirxs/providers/Microsoft.EventGrid/topics/ssbappevents" />
      </Serilog.AzureEventGrid>
      <Log4Net.RollingFile>
        <add key="FilePath" value="c:\logs\logfile.txt" />
      </Log4Net.RollingFile>
    </ApiEtlQd.Logging.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>